<% layout('layout') -%>
<section>
	<div class="ui container">
		<div class="ui stackable grid">
			<div class="ui centered row">
				<div class="twelve wide column">
					<div class="page header">
						<h2>Vaihe 2</h2>
					</div>
					<input type="hidden" id="cartId" value="<%= session.cart._id %>">
					<div class="ui massive breadcrumb">
						<div class="section">Palvelu</div>
						<div class="divider"> / </div>
						<div class="active section">Ajankohta</div>
						<div class="divider"> / </div>
						<div class="section">Henkilötiedot</div>
						<div class="divider"> / </div>
						<div class="section">Valmis</div>
					</div>
				</div>
			</div>
			<div class="ui centered row">
				<div class="twelve wide column">
					<div class="ui top attached sgement">
						<div class="ui centered stackable grid">
							<div class="sixteen wide column">
								<div id="message">
								 <% if(error && error.length > 0) { %>
								 <div class="ui negative message">
								 	<i class="close icon"></i>
								 	<div class="header">
								 		Ups!
								 	</div>
								 	<p><%= error %></p>
								 </div>
								 <% } %>
								 <% if(success && success.length > 0) { %>
								 <div class="ui success message">
								 	<i class="close icon"></i>
								 	<div class="header">
								 		Onnistui!
								 	</div>
								 	<p><%= success %></p>
								 </div>
								 <% } %>
								</div>
								<div class="ui centered grid">
									<div class="eight wide column">
										<% cart.items.forEach(function(item) { %>
										<div class="ui raised segment">
											<h4 class="black"><%= item.name %> <%= item.duration %>min <%= item.unit_price %>,00 €</h4>
										</div>
										<% }); %>
									</div>
									<div class="eight wide column">
										<div class="ui calendar" id="calendar">
									
										</div>
									</div>
								</div>
							</div>
							<div class="sixteen wide column">
								<h4 id="day" class="black"></h4>
								<table id="selectedTime" class="ui orange table">
									<thead class="tablet desktop">
										<tr>
											<th><%= session.cart.times.length ? "Aika" : "Valittu Päivänne" %></th>
											<th><%= session.cart.times.length ? "Status" : "Valittu Aikanne" %></th>
										</tr>
									</thead>
									<tbody id="times">
										<% if(session.cart.times.length) { %>
											<% times.forEach(function(time) { %>
											<tr time_id="<%=time._id%>" class="<%= time.taken === 'taken' ? 'notSelectable' : 'selectTime' %>">
												<td><%= time.time %></td>
												<td class="<%= time.taken === 'taken' ? 'negative' : 'positive' %>"><%= time.taken === true ? "varattu" : "vapaa" %></td>
											</tr>
											<% }); %>
										<% } else if(session.cart.times.length){ %>
											<tr>
												<td><%= moment(session.cart.times[0].day).format('DD.MM.YYYY') %></td>
												<td><%= session.cart.times[0].time %></td>
											</tr>
										<% } %>
									</tbody>
								</table>
								
								<a class="ui default button" href="/ajanvaraus/<%= session.cart._id%>">Muuta palvelua</a>
								<a id="submitBtn2" class="ui green button btn-disabled" href="/ajanvaraus/<%= session.cart._id%>/henkilotiedot" disabled="disabled">Täytä tietosi</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>