<% layout('layout') -%>
<section>
	<div class="ui container">
		<div class="ui stackable grid">
			<div class="ui centered row">
				<div class="twelve wide column">
					<div class="page header">
						<h2>Vaihe 2</h2>
					</div>
					<input type="hidden" id="cartId" value="<%= session.cart._id %>">
					<div class="ui massive breadcrumb">
						<div class="section">Palvelu</div>
						<div class="divider"> / </div>
						<div class="active section">Ajankohta</div>
						<div class="divider"> / </div>
						<div class="section">Henkilötiedot</div>
						<div class="divider"> / </div>
						<div class="section">Valmis</div>
					</div>
				</div>
			</div>
			<div class="ui centered row">
				<div class="twelve wide column">
					<div class="ui top attached sgement">
						<div class="ui centered stackable grid">
							<div class="sixteen wide column">
								<div id="message">
									<% if(error && error.length > 0) { %>
									<div class="ui negative message">
										<i class=" close icon"></i>
										<div class="header">
											Ups!
										</div>
										<p><%= error %></p>
									</div>
									<% } %>
									<% if(success && success.length > 0) { %>
									<div class="ui success message">
										<i class="close icon"></i>
										<div class="header">
											Onnistui!
										</div>
										<p><%= success %></p>
									</div>
									<% } %>
								</div>
								<div class="ui centered grid">
									<div class="sixteen wide column serviceSection <%= session.times && session.times.length ? '' : 'hidden' %>">
										<% cart.items.forEach(function(item) { %>
										<div class="ui raised segment">
											<p class="black"><%= item.name %></p>
											<p>kesto: <%= item.duration %>min / hinta: <%= item.unit_price %>,00 €</p>
										</div>
										<% }); %>
										<div class="ui raised segment">
											<input type="hidden" name="duration" id="duration" value="<%= cart.total_duration %>">
											<div id="selectedTime">
												<table class="ui stackable table">
													<thead class="tablet desktop">
														<tr>
															<th>Päivä</th>
															<th>Alkamisaika</th>
														</tr>
													</thead>
													<tbody id="selectedTimesTable">
														<% if(session.times && session.times.length) { %>
														<tr>
															<td><%= moment(session.times[0].day).format('DD.MM.YYYY') %></td>
															<td>alkaen klo <%= session.times[0].time %></td>
														</tr>
														<% } %>
													</tbody>
												</table>
												<p class="black">Kokonaiskesto:</p>
												<p>kesto: <%= cart.total_duration %>min</p>
												<button id="changeTime" class="ui orange button">Vaihda aikaa</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="timeSelectionInput" class="nine wide column centered <%= session.times && session.times.length ? 'hidden' : '' %>">
								<div class="ui icon input" id="calendar">
									<i class="calendar icon"></i>
									<label class="ui huge orange label" for="datePick">Aikoja päivälle:</label>
									<input type="text" placeholder="<%= moment(Date.now()).format('DD.MM.YYYY') %>" data-toggle="datepicker" id="datePick">
								</div>
							</div>
							<div id="timeSelectionTable" class="sixteen wide column <%= session.times && session.times.length ? 'hidden' : '' %>">
								<table class="ui celled stackable table">
									<thead class="desktop tablet">
										<tr>
											<th>07</th>
											<th>08</th>
											<th>09</th>
											<th>10</th>
											<th>11</th>
											<th>12</th>
											<th>13</th>
											<th>14</th>
											<th>15</th>
											<th>16</th>
											<th>17</th>
										</tr>
									</thead>
									<tbody>
										<tr id="times">
											<td id="td07" class="timesTd">
												<% timesByHours(times, "07", function(filteredTimes) { %>
												<% filteredTimes.forEach(function(time) { %>
												<form class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" time_id="<%= time._id %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td08" class="timesTd">
												<% timesByHours(times, "08", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" time_id="<%= time._id %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td09" class="timesTd">
												<% timesByHours(times, "09", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form time_id="<%= time._id %>" class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td10" class="timesTd">
												<% timesByHours(times, "10", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form time_id="<%= time._id %>" class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td11" class="timesTd">
												<% timesByHours(times, "11", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form time_id="<%= time._id %>" class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td12" class="timesTd">
												<% timesByHours(times, "12", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form time_id="<%= time._id %>" class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td13" class="timesTd">
												<% timesByHours(times, "13", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form time_id="<%= time._id %>" class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td14" class="timesTd">
												<% timesByHours(times, "14", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form time_id="<%= time._id %>" class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td15" class="timesTd">
												<% timesByHours(times, "15", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form time_id="<%= time._id %>" class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td16" class="timesTd">
												<% timesByHours(times, "16", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form time_id="<%= time._id %>" class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
											<td id="td17" class="timesTd">
												<% timesByHours(times, "17", function(filteredTimes) { %>
												<%  filteredTimes.forEach(function(time) { %>
												<form time_id="<%= time._id %>" class="time-box <%= time.taken ? 'red-td-bg' : new Date(moment(time.day).format('DD/MM/YYYY')) <= new Date(moment(Date.now()).format('DD/MM/YYYY')) && parseFloat(time.time.split(':').join('.')).toFixed(2) * 100 < parseFloat(moment(Date.now()).format('HH.mm')).toFixed(2) * 100 ? 'gray-td-bg' : 'green-td-bg' %>" id="<%= time._id %>" hour="<%= time.time %>">
													<input type="hidden" name="id" value="<%= time._id %>">
													<p><%= time.time %></p>
													<p><%= time.quantity %>/3</p>
												</form>
												<% }); %>
												<% }); %>
											</td>
										</tr>
									</tbody>
								</table>
								<h4 class="black">Huom! Varattavien aikojen määrä vaihtelee valitsemienne suoritettavien töiden kokonaiskeston perusteella.</h4>
								<div class="ui divided selection list">
								  <a class="item">
								    <div class="ui red horizontal label"><i class="fa fa-exclamation-triangle"></i></div>
								    Varattu
								  </a>
								  <a class="item">
								    <div class="ui green label"><i class="fa fa-check"></i></div>
								    Vapaa
								  </a>
								  <a class="item">
								    <div class="ui horizontal label"><i class="fa fa-ban"></i></div>
								    Ei varattavissa
								  </a>
								</div>
								<div id="confModal" class="ui mini modal">
									<div class="header">Vahvista valinta</div>
									<div class="content">
										<p>Olette varaamassa aikaa alkaen klo: </p>
										<button id="acceptTime" class="ui secondary button">
											Hyväksy
										</button>
										<button id="cancelTime" class="ui button">
											Kumoa
										</button>
									</div>
								</div>
							</div>
							<div class="ui sixteen wide column">
								<a class="ui default button" href="/ajanvaraus/<%= session.cart._id%>">Muuta palvelua</a>
								<a id="submitBtn2" class="ui green button btn-disabled" href="/ajanvaraus/<%= session.cart._id%>/henkilotiedot" disabled="disabled">Täytä tietosi</a>
								<!-- modal -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>