<% layout('layout') -%>
<section>
	<div class="ui container">
		<div class="ui stackable centered grid">
			<div class="fourteen wide center aligned column">
				<div class="ui page header">
					<h3>Hinnasto</h3>
					<div class="ui horizontal centered divider">
						Kaikki renkaat vakuutetaan ja tarkistetaan
					</div>
				</div>
			</div>
			<% if(tyreHotelServices.length > 0) { %>
			<div class="fourteen wide column">
				<div class="ui raised segment">
					<h4 class="black">Rengashotelli</h4>
					<table class="ui stackable orange table">
						<thead class="tablet desktop">
							<tr>
								<th>Palvelu</th>
								<th>Yksikkö</th>
								<th>Renkaan koko</th>
								<th>Hinta</th>
								<th>Lisätietoa</th>
							</tr>
						</thead>
						<tbody id="datarow">
							<% tyreHotelServices.forEach(function(service) { %>
							<tr>
								<td><%= service.name %></td>
								<td><%= service.type === null ? "" : service.type %></td>
								<td><%= service.tyre_size %>" <%= service.tyre_size === 16 ? " ja alle" : " ja yli" %></td>
								<td><%= service.discounted_unit_price !== 0 ? service.discounted_unit_price+",00 €" : service.unit_price+",00 €" %></td>
								<td><%= service.additional_info %></td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
			<% } %>
			<% if(tyreServices.length > 0) { %>
			<div class="fourteen wide column">
				<div class="ui raised segment">
					<h4 class="black">Rengastyöt</h4>
					<table class="ui stackable orange table">
						<thead class="tablet desktop">
							<tr>
								<th>Palvelu</th>
								<th>Yksikkö</th>
								<th>Renkaan koko</th>
								<th>Hinta</th>
								<th>Lisätietoa</th>
							</tr>
						</thead>
						<tbody id="datarow">
							<% tyreServices.forEach(function(service) { %>
							<tr>
								<td><%= service.name %></td>
								<td><%= service.type === null ? "" : service.type %></td>
								<td><%= service.tyre_size === 16 ? service.tyre_size + '" ja alle' : service.tyre_size === 17 ? service.tyre_size+ '" ja yli' : service.tyre_size === 19 ? service.tyre_size+ '" ja yli' : "kaikki koot" %></td>
								<td><%= service.unit_price %>,00€</td>
								<td><%= service.additional_info %></td>
							</tr>
							<% }); %>
							<tr>
								<td>Renkaiden nouto</td>
								<td>kotoa tai muusta säilöstä</td>
								<td></td>
								<td>25,00 €</td>
								<td>Sarja</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="fourteen wide column">
				<div class="ui raised yellow segment">
					<p><strong>*</strong> Auton alla olevien renkaiden tasapainotukseen, lisätään allevaihto.</p>
				</div>
			</div>
			<% } %>
			<% if(tyreWashServices.length > 0) { %>
			<div class="fourteen wide column">
				<div class="ui raised segment">
					<h4 class="black">Renkaiden pesu</h4>
					<table class="ui stackable orange table">
						<thead class="tablet desktop">
							<tr>
								<th>Palvelu</th>
								<th>Yksikkö</th>
								<th>Renkaan koko</th>
								<th>Hinta</th>
								<th>Lisätietoa</th>
							</tr>
						</thead>
						<tbody id="datarow">
							<% tyreWashServices.forEach(function(service) { %>
							<tr>
								<td><%= service.name %></td>
								<td><%= service.type === null ? "" : service.type %></td>
								<td>kaikki koot</td>
								<td><%= service.discounted_unit_price !== 0 ? service.discounted_unit_price+",00 €" : service.unit_price+",00 €" %></td>
								<td><%= service.additional_info %></td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
			<% } %>
		</div>
	</div>	
</section>