<% layout('tyres') -%>
<section>
	<div class="ui container">
		<div class="ui centered row">
			<div class="ui stackable centered grid">
				<div class="fourteen wide column">
					<div class="header">
						<h2><%= page_heading %></h2>
						<div class="ui horizontal divider">
							<i class="fa fa-car fa-2x" aria-hidden="true"></i>
						</div>
					</div>
					<div class="ui stackable centered grid">
						<div class="sixteen wide column">
							<% if(error.length) { %>
								<div class="ui orange message">
									<i class="close icon"></i>
  										<div class="header">
    										Ei tuloksia!
  										</div>
										<p><%= error %></p>
									</div>
							<% } %>
							<div class="ui fluid six item silver stackable menu sortMenu">
								<div class="ui floating dropdown icon button item">
									Merkit
									<i class="dropdown icon"></i>
									<div class="menu">
										<% manufacturers.forEach(function(manufacturer) { %>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=<%= car_type !== '' ? car_type : 'Henkilöauto' %>&page=1"><%= manufacturer %></a></div>
										<% }); %>
									</div>
								</div>
								<div class="item" id="a-1">
									<form class="ui horizontal form" method="GET">
										<div class="ui icon input">
											<i class="search icon"></i>
  											<input class="searchBox" type="text" name="search" placeholder="Haew renkaita...">
										</div>
									</form>
								</div>
								<div class="ui floating dropdown icon button item">
									Automallit
									<i class="dropdown icon"></i>
									<div class="menu" class="sortMenu">
										<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&car_type=Henkilöauto&page=1">Henkilöauto</a></div>
										<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&car_type=SUV&page=1">City Maasturi/SUV</a></div>
										<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&car_type=C-LL&page=1">C/LL</a></div>
									</div>
								</div>
								<div class="item open-slidedown_menu" toggle-data="car-sizes">
									Koot Henkilöauto
								</div>
								<div class="item open-slidedown_menu" toggle-data="suv-sizes">
									Koot SUV
								</div>
								<div class="item open-slidedown_menu" toggle-data="cll-sizes">
									Koot C/LL
								</div>
							</div><!-- menu ends here -->
								<div class="slide-menu sortMenu" id="car-sizes">
									<div class="ui centered grid">
										<div class="three wide column">
											<h5>13 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=175/70-13&page=1">175/70-13</a></div>
										</div>
										<div class="three wide column">
											<h5>14 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=155/65-14&page=1">155/65-14</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=175/65-14&page=1">175/65-14</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=165/70-14&page=1">165/70-14</a></div>
										</div>
										<div class="three wide column">
											<h5>15 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=185/55-15&page=1">185/55-15</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=185/65-15&page=1">185/65-15</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=195/65-15&page=1">195/65-15</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=205/65-15&page=1">205/65-15</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=185/60-15&page=1">185/60-15</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=195/60-15&page=1">195/60-15</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=185/55-15&page=1">185/55-15</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=195/55-15&page=1">195/55-15</a></div>
										</div>
										<div class="three wide column">
											<h5>16 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=205/50-16">205/50-16</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=205/60-16">205/60-16</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=195/55-16">195/55-16</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=205/55-16">205/55-16</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=215/55-16">215/55-16</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=225/55-16">225/55-16</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=215/55-16">215/55-16</a></div>
										</div>
										<div class="three wide column">
											<h5>17 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=215/55-17">215/55-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=225/55-17">225/55-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=205/50-17">205/50-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=215/50-17">215/50-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=225/50-17">225/50-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=215/45-17">215/45-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer%>&car_type=Henkilöauto&size=225/45-17"> 225/45-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=235/45-17">235/45-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=245/45-17">245/45-17</a></div>
										</div>
										<div class="three wide column">
											<h5>18 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=235/45-18">235/45-18</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=245/45-18">245/45-18</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=225/40-18">225/40-18</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=235/40-18">235/40-18</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=245/40-18">245/40-18</a></div>
										</div>
										<div class="three wide column">
											<h5>19 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=235/35-19">235/35-19</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=245/40-19">245/40-19</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=Henkilöauto&size=255/40-19">255/40-19</a></div>
										</div>
									</div>
								</div>
								<div class="slide-menu" id="suv-sizes">
									<div class="ui centered grid">
										<div class="three wide column">
											<h5>16 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=265/70-16">265/70-16</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=215/65-16">215/65-16</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=215/60-16">215/60-16</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=235/60-16">235/60-16</a></div>
										</div>
										<div class="three wide column">
											<h5>17 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=225/60-17">225/60-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=225/65-17">225/65-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=235/65-17">235/65-17</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=235/55-17">235/55-17</a></div>
										</div>
										<div class="three wide column">
											<h5>18 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=225/60-18">225/60-18</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=235/60-18">235/60-18</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=255/55-18">255/55-18</a></div>
										</div>
										<div class="three wide column">
											<h5>19 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=235/55-19">235/55-19</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=255/55-19">255/55-19</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&car_type=SUV&size=255/50-19">255/50-19</a></div>
										</div>
									</div>
								</div>
								<div class="slide-menu" id="cll-sizes">
									<div class="ui centered grid">
										<div class="three wide column">
											<h5>14 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&cartype=C-LL&size=175/65-14C">175/65-14C</a></div>
										</div>
										<div class="three wide column">
											<h5>15 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&cartype=C-LL&size=195/70-15C">195/70-15C</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&cartype=C-LL&size=215/70-15C">215/70-15C</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&cartype=C-LL&size=225/70-15C">225/70-15C</a></div>
										</div>
										<div class="three wide column">
											<h5>16 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&cartype=C-LL&size=205/65-16C">205/65-16C</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&cartype=C-LL&size=215/65-16C">215/65-16C</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&cartype=C-LL&size=225/65-16C">225/65-16C</a></div>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&cartype=C-LL&size=235/65-16C">235/65-16C</a></div>
										</div>
										<div class="three wide column">
											<h5>17 tuumaa</h5>
											<div class="item"><a class="sortMenuItem" url="/renkaat?category=<%= category %>&manufacturer=<%= manufacturer %>&cartype=C-LL&size=215/60-17C">215/60-17C</a></div>
										</div>
									</div>
								</div>
							<hr>
						</div>
						<div class="row">
							<div class="ui centered grid">
								<div class="twelve wide column">
									<div id="error"></div>
								</div>
							</div>
						</div>
						<div class="row" id="results">
							<% tyres.forEach(function(tyre) { %>
							<div class="ui four wide column">
								<a href="/renkaat/<%= tyre._id %>" class="tyrecard">
									<div class="ui orange segment">
										<div class="header-section">
											<h4 class="black"><%= tyre.manufacturer %></h4>
											<h4 class="smaller black"><%= tyre.model %></h4>
										</div>
										<img class="ui medium image" alt="<%= tyre.manufacturer %>, <%= tyre.model %>" src="<%= tyre.cover %>">
										<p class="no_margin">Alkaen: </p>
										<% if(size) { %>
											<p>koko: <%= tyre.getPriceSize(size) %></p>
											<p class="ui orange big horizontal label"><%= tyre.getPrice(size) %>,00 €/Sarja</p>
										<% } else { %>
											<p>koko: <%= tyre.getMinPriceSize() %></p>
											<p class="ui orange big horizontal label"><%= tyre.getMinPrice() %>,00 €/Sarja</p>
										<% } %>
										<p><em>Hinta sisältää työt</em></p>
									</div>
								</a>
							</div>
							<% }); %>
						</div>
						<div class="ui centered grid">
							<div class="ui pagination menu" id="paginationMenu">
  								<a class="item" id="first" url="/renkaat?page=<%= pages.first %>&category=<%= category %>&search=<%= searchTerm %>&manufacturer=<%= manufacturer %>&car_type=<%= car_type %>&size=<%= size %>"><%= pages.first %></a>
  								<a class="item" id="prev" url="/renkaat?page=<%= pages.prev %>&category=<%= category %>&search=<%= searchTerm %>&manufacturer=<%= manufacturer %>&car_type=<%= car_type %>&size=<%= size %>"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
  								<% pages.visiblePages.forEach(function(page) { %>
  									<a class="item <%= page === pages.current ? 'active' : 'notActive' %>" id="page<%= page %>" url="/renkaat?page=<%= page %>&category=<%= category %>&search=<%= searchTerm %>&manufacturer=<%= manufacturer %>&car_type=<%= car_type %>&size=<%= size %>"><%= page %></a>
  								<% }); %>
  								<a class="item" id="next" url="/renkaat?page=<%= pages.next %>&category=<%= category %>&search=<%= searchTerm %>&manufacturer=<%= manufacturer %>&car_type=<%= car_type %>&size=<%= size %>"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  								<a class="item" id="last" url="/renkaat?page=<%= pages.last %>&category=<%= category %>&search=<%= searchTerm %>&manufacturer=<%= manufacturer %>&car_type=<%= car_type %>&size=<%= size %>"><%= pages.last %></a>
							</div>
						</div>
						<div class="ui fourteen wide column">
							<div class="ui raised orange segment">
								<h4 class="black">Huom! Renkaiden lopulliseen hintaan vaikuttaa renkaan kantavuus.</h4>
								<p>Kysy tarjous puhelimitse <strong><i class="fa fa-phone" aria-hidden="true"></i> +358 (0)50 591 73 22</strong> tai sähköpostitse<strong><i class="fa fa-mail" aria-hidden="true"></i> klaukkalanrengas@gmail.com</strong>.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
